/* body */
body{
  font-family:Verdana, sans-serif;
  background: #fbf4f9;

}

nav{
    background-color: #bac7a7;
    padding: 25px;
    border: 2px solid #bac7a7;
}

nav ul{
  display:flex;
  flex-direction: column;
  align-items: center;
}

nav li{
  display: inline;
  padding: 5px 25px;
}

li a{
  font-size: 25px;
  color: #403f48;
  text-decoration: none;
}

body.home a.home, body.bean a.bean, body.tools a.tools, body.personal a.personal{
  font-size: 35px;
  border-style:dotted;
  border-radius: 0 30px;
  border-color: #7d5a5a;
  color:#7d5a5a;
  padding:5px;
}

header{
  background-image: url("imgs/bk.jpeg");
  background-attachment: fixed; 
  background-repeat: no-repeat; 
  background-size:27%;
  background-color: #fbf4f9;
}

header h1{
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: nav_big;
  animation-name: nav_big;
}
 /*Keyframes for animation*/
 @-webkit-keyframes nav_big{
   from{font-size: 20px;}
   to{font-size: 50px;}
 }

 @keyframes nav_big{
  from{font-size: 20px;}
  to{font-size: 50px;}
 }


h1{
  font-size: 25px;
  padding: 30px;
}

p{
  font-size: 17px;
  color:#403f48;
}

img{
  width: 75%;
}

header h1{
  font-size: 40px;
  color:darkolivegreen;
  text-align: center;
  padding:50px 20px;
}


/* homepage */
.container{
  display:grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(9);
  padding: 10px;
}

.text1,.text2,.text3,.text4,.text5,.text6,.text7,.text8,.text9{
  border: 2px solid #bac7a7;
  border-radius: 13px;
  padding:10px;
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 50px;
}

.text_img1,.text_img2,.text_img3,.text_img4,.text_img5,.text_img6,.text_img7,.text_img8,.text_img9{
  padding: 10px;
  grid-column: 2/4;
  opacity: 0.2;
}

.text1,.text_img1{
  grid-row: 1;
}

.text2,.text_img2{
  grid-row: 2;
}

.text3,.text_img3{
  grid-row: 3;
}

.text4,.text_img4{
  grid-row: 4;
}

.text5,.text_img5{
  grid-row: 5;
}

.text6,.text_img6{
  grid-row: 6;
}

.text7,.text_img7{
  grid-row: 7;
}

.text8,.text_img8{
  grid-row: 8;
}

.text9,.text_img9{
  grid-row: 9;
}

/* beans */

.beans{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.flip-card1,.flip-card2,.flip-card3,.flip-card4,.flip-card5,.flip-card6 {
  min-width: 500px;
  width:auto;
  min-height: 500px;
  height: auto;
  perspective: 1000px; 
  grid-column: 1/2;
  grid-row: span;
  padding: 50px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card1:hover .flip-card-inner,  .flip-card2:hover .flip-card-inner, .flip-card3:hover .flip-card-inner, .flip-card4:hover .flip-card-inner, .flip-card5:hover .flip-card-inner, .flip-card6:hover .flip-card-inner{
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
}

.flip-card-back {
  background-color:  #bac7a7;
  color: #403f48;
  transform: rotateY(180deg);
}

/* tools */
.machine{
  display:grid;
  grid-template-columns: auto auto auto;
}

.machine img{
  width: 100%;
}

.text_1, .text_2, .text_3{
  border: 2px solid #bac7a7;
  height: auto;
  padding: 13px;
  border-radius: 13px;
  margin: 30px;
  grid-column: 1/4;
}

.image_1,.image_2,.image_3{
  margin: 50px;
  grid-column: 2/3;
}

.image_3 img{
  padding: 5px 0;
}

/* personal */

.Me p, .Bean p, .Tool p{
  border: 2px solid #bac7a7;
  border-radius: 13px;
  padding: 10px;
}

.all{
  display: flex;
  flex-direction: column;
  padding: 30px;
  min-height: 480px;
  align-items: center;
  justify-content: center;
}

.Me, .Bean, .Tool, .Tool_img, .Bean_img, .form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Me img,.Tool_img img, .Bean_img img{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.form{
  border: 2px solid #bac7a7;
  border-radius: 13px;
  padding: 10px;
}
.form p{
  font-size: 20px;
  padding: 20px;
}
label{
  display: inline-block;
  margin: 20px 5px 20px 0;
}

.all a{
  text-decoration: none;
  color:#7d5a5a;
  font-size: 20px;
}


/* skip content */
.skip a{
  background: #bac7a7;
  left: 0;
  padding: 7px;
  z-index: 1;
  position: absolute;
  top: -50px;
}
.skip a:focus{
  position: absolute;
  top: 10px;
}

/* footer */
footer{
  position:relative;
  left:0;
  bottom: 0;
  width: 100%;
  color: #403f48;
  text-align: center;
  padding: 5px;
  border: solid 2px #bac7a7;
  background: #bac7a7;
}

/* tablet */
@media screen and (min-width: 768px){
  nav ul{
    display: flex;
    flex-direction: row;
  }
  /* homepage */
  .container{
    display: grid;
    grid-template-columns: auto auto;
  }
  .text1,.text2,.text3,.text4,.text5,.text6,.text7,.text8,.text9{
    grid-column: 1/2;
    margin: 30px;
    display:flex;
    align-items: flex-start;
  }

  .text_img1,.text_img2,.text_img3,.text_img4,.text_img5,.text_img6,.text_img7,.text_img8,.text_img9{
    grid-column: 2/3;
    opacity: 1;
    display: flex;
    align-items: center;
  }

  /* beans */
  .beans{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* tool */
  .machine img{
    width:40%;
  }

  .image_2,.image_1,.image_3{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }



  /* personal */
  .Tool_img, .Bean_img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
  }
  .Tool_img img, .Bean_img img{
    width: 30%;
  }

}


/* desktop */
@media screen and (min-width: 992px){
  /* homepage */
  .text1,.text3,.text5,.text7,.text9,.text_img2,.text_img4,.text_img6,.text_img8{
    grid-column: 1/2;
    margin: 30px;
    display:flex;
    align-items: flex-start;
  }

  .text_img1,.text_img3,.text_img5,.text_img7,.text_img9,.text2,.text4,.text6,.text8{
    grid-column: 2/3;
    opacity: 1;
  }

  /* tools */
  .machine{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    padding:0;
  }

  .machine img{
    width:55%;
  }
  
  .text_1{
    grid-row: 2;
    grid-column: 2/4;
    min-height:100px;
    height: auto;
    padding: 10px;
  }
  
  .text_2{
    grid-row: 5;
    grid-column: 1/3;
    padding: 10px;
    min-height:100px;
    height: auto;
    padding: 10px;
  }
  
  .image_1{
    display: grid;
    grid-row: 1/4;
    width: auto;
    grid-column: 1/2;
    padding: 30px;
  }
  
  .image_2{
    display: grid;
    grid-row: 4/7;
    width: 130%;
    grid-column: 3/4;
  }

  .image_3 img{
    display: grid;
    padding: 0 30px;
  }

}

@media screen and (prefers-reduced-motion){
  header h1{
    animation: none;
  }
  header{
    background-attachment: scroll;
  }
}