body{
  font-family:Verdana, sans-serif;
}

nav{
    background-color: #ddd;
    padding: 25px 0;
    border: 2px solid darkolivegreen;
}

nav li{
  display: inline;
  padding-right:20px;
  text-decoration: wavy;
}

li a{
  font-size: 25px;
  color: black;
  text-decoration: none;
}

body.home a.home, body.bean a.bean, body.tools a.tools, body.personal a.personal{
  color: #640200;
  font-size: 25px;
  border-style: dashed;
}

.container{
  display:grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.text{
  border: 2px solid darkolivegreen;
  grid-column: 1/4;

}

.text_img{
  width: auto;
  height: auto;
  grid-column: 2/4;
  padding: 10px;
}


.all{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  min-height: 480px;
  /* justify-content: center; */
  /* justify-content: space-around; */
}

.picture_me{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 50%;
}

h1{
  font-size: 25px;
  padding: 10px;
}

p{
  font-size: 17px;
}

img{
  width:75%;
}


header h1{
  font-size: 35px;
  color:darkolivegreen;
  text-align: center;
}

header p{
  font-size: 20px;
  color:darkgreen;
  text-align: center;
}


.machine img{
  width: 50%;
}

.machine{
  display:grid;
  grid-template-columns: auto;
  /* grid-template-rows: auto auto auto auto; */
}

.text1, .text2{
  border: 2px solid darkolivegreen;
  height: auto;
  padding: 10px;
}

/* .text1{
  grid-row: 2;
}

.text2{
  grid-row: 4;
}

.image1{
  grid-row: 1;
}

.image2{
  grid-row: 3;
} */

.type{
  border: 2px solid darkolivegreen;
  padding: 5px;
  width: auto;
}

.beans{
  display:flex;
  flex-direction: column;
}


/* .text1, .text2{
  border: 2px solid darkolivegreen;
}

.image1, .image2{
} */

.skip a{
  background: white;
  left: 0;
  padding: 7px;
  z-index: 1;
  position: absolute;
  top: -50px;
}
.skip a:focus{
  position: absolute;
  top: 10px;
}

footer{
  position:relative;
  left:0;
  bottom: 0;
  width: 100%;
  color: darkolivegreen;
  text-align: center;
  padding: 5px;
}



@media screen and (min-width: 850px){
  .all{
    min-height: 470px;
  }
  .beans{
    display: flex;
    min-height: 550px;
    justify-content: space-evenly;
    align-items: center;
  
  }
  .type{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 5px;
  }
  .container{
    display:grid;
    grid-template-columns: auto auto;
    padding: 10px 10px;
  }
  .text{
    grid-column: 1/2;
    padding:10px;
  }
  .text p{
    padding: 30px;
  }
  .text_img{
    grid-column:2/3;
  }

  .machine{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    padding: 10px;
  }
  
  .text1{
    grid-row: 2;
    grid-column: 2/4;
    height:100px;
  }
  
  .text2{
    grid-row: 5;
    grid-column: 1/3;
    padding: 10px;
    height:100px;
  }
  
  .image1{
    grid-row: 1/4;
    width: auto;
    grid-column: 1/2;
    padding: 10px;
  }
  
  .image2{
    grid-row: 4/7;
    width: 130%;
    grid-column: 3/4;
    padding: 10px 10px 10px 50px;
  }

}