nav{
    background-color: #ddd;
    padding: 25px 0;
    border: 2px solid darkolivegreen;
}

nav li{
  display: inline;
  padding-right:20px;
  text-decoration: wavy;
}

li a{
  font-size: 25px;
  color: black;
  text-decoration: none;
}

body.home a.home, body.bean a.bean, body.tools a.tools, body.personal a.personal{
  color: #640200;
  font-size: 25px;
  border-style: dashed;
}


.all{
  display:grid;
  grid-template-columns: auto auto;
}

.text{
  display: flex;
  flex-direction: column;
  border: 2px solid darkolivegreen;
}

h1{
  font-size: 25px;
}

p{
  font-size: 17px;
}

img{
  width:75%;
}

.picture_me img{
  width:25%;
}

header h1{
  font-size: 35px;
  color:darkolivegreen;
  text-align: center;
}

header p{
  font-size: 20px;
  color:darkgreen;
  text-align: center;
}


.machine img{
  width: 50%;
}

.machine{
  display:grid;
  grid-template-columns: auto;
  /* grid-template-rows: auto auto auto auto; */
}

/* .text1{
  grid-row: 2;
}

.text2{
  grid-row: 4;
}

.image1{
  grid-row: 1;
}

.image2{
  grid-row: 3;
} */

.type{
  border: 2px solid darkolivegreen;
  padding: 5px;
  width: auto;
}

.beans{
  display:flex;
  flex-direction: column;
}


/* .text1, .text2{
  grid-column: 2/3;
  border: 2px solid darkolivegreen;
}

.image1, .image2{
  grid-column: 3/4;
} */

footer{
  position:relative;
  left:0;
  bottom: 0;
  width: 100%;
  color: darkolivegreen;
  text-align: center;
  padding: 5px;
}